matrix:
    include:
#        - os: linux
#          dist: xenial
#          language: python
#          python: 3.7
#          env:
#              - GMAKE=make
#        - os: osx
#          language: sh
#          python: 3.7
#          env:
#              - GMAKE=make
#        - os: windows
#          language: sh
#          python: 3.7
#          before_install:
#              - choco install python3
#              - export PATH="/c/Python37:/c/Python37/Scripts:$PATH"
#              - python -m pip install --upgrade pip wheel
#          env:
#              - GMAKE=
#        - os: windows
#          language: sh
#          python: 3.7
#          before_install:
#              - which git
#              - tar -xvzf .travis/msys2_pacman_bootstrap/staging.tar.gz --directory /
#              - which pacman
#              - pacman --noconfirm -Syy
#              - pacman --noconfirm -Syu
#              - pacman --noconfirm -S mingw-w64-x86_64-python3
#              - which python
#              - python -m pip install --upgrade pip wheel
#          env:
#              - GMAKE=
        - os: windows
          language: sh
          python: 3.7
          before_install:
              - choco install python3
              - export PATH="/c/Python37:/c/Python37/Scripts:$PATH"
              - python -m pip install --upgrade pip wheel
          env:
              - GMAKE=


before_install:
    - .travis/install.sh
    - source .travis/activate_virtualenv.sh
install:
    - pip install -r test-requirements.txt
    - pip install -e .
script:
    - powershell -NoLogo -NonInteractive -Version
    - powershell -NoLogo -NonInteractive -Command "(get-command python.exe).Path"
    - powershell -NoLogo -NonInteractive -Command "(get-command pip.exe).Path"
    - powershell -NoLogo -NonInteractive -Command "(get-command python3.exe).Path"
    - powershell -NoLogo -NonInteractive -Command "python.exe -m pytest --gmake=${env:GMAKE} -k empty-rule ${env:TRAVIS_BUILD_DIR}"

