matrix:
    include:
        - os: linux
          dist: xenial
          language: python
          python: 3.7
          env:
              - GMAKE=make
        - os: osx
          language: sh
          python: 3.7
          env:
              - GMAKE=make
        - os: windows
          language: sh
          python: 3.7
          before_install:
              - choco install python3
              - export PATH="/c/Python37:/c/Python37/Scripts:$PATH"
              - python -m pip install --upgrade pip wheel
          env:
              - GMAKE=

before_install:
    - .travis/install.sh
    - source .travis/activate_virtualenv.sh
install:
    - pip install -r test-requirements.txt
    - pip install -e .
script:
  - pytest --gmake="$GMAKE" -n 4 .
